.navbar__brand {
    font-family: 'Krona One', sans-serif;
}
.flexStyle{
    position: absolute;
    top: 0px;
    right: 150px;
    display: flex;
}
.flexLinks{
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

.lowercase{
    font-size: 18px;
    text-decoration: none;
}