.button {
  color: #252525;
  padding: 0.6em 1.6em;
  font-size: 13px;
  border-radius: 0.5em;
  background: #f6f5f5;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 1px 1px 5px #c5c5c56b, -6px -6px 12px #ffffff;
  font-family: 'Poppins', sans-serif;
}

.button:hover {
  border: 1px solid white;
}

.button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
