body {
    @apply font-base text-dark;
    margin: 0;
    padding: 0;
}
/* Styles.css */

.search {
    display: grid;
    grid-template-columns: auto 250px; /* Swap the order of columns */
    grid-template-areas:
        'results sidebar'; /* Swap the order of areas */
}

.search .sidebar {
    grid-area: sidebar;
}

.search .results {
    grid-area: results;
}

